img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}

#container {
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-self: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /*This made it so my pictures didn't stretch vertically!*/

}